.posts-wrapper {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 16px;
  li {
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    border: 1px solid transparent;
    height: 200px;
    &:hover {
      cursor: pointer;
      border: 1px solid #000;
    }
    .title,
    .content {
      padding: 4px;
    }
    .title {
      border-bottom: 1px solid #000;
    }
  }
}
